body {
  background: #f9e933;
  font-family: 'Droid Sans', sans-serif;
  font-size: 100%;
}


header, main, footer {
  min-width: 855px;
}

header .container, main .container, footer .container {
  max-width: 855px;
  margin: auto;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3 {
  font-family: 'Ubuntu', sans-serif;
}

header {
  background: white;
  overflow: hidden;
  padding-top:30px;
  padding-bottom: 30px;
}

h1 {
  float: left;
  width: 570px;
  font-size: xx-large;
  font-style: italic;
  color: red;
}

h2 {
  float: left;
  font-size: larger;
  color: red;
}

header nav {
  float: right;
  width: 285px;
}

main {
  background: white;
  overflow: hidden;
  height: 550px;
}

main.li {
  font-size: larger;
  font-weight: bold;
  padding-bottom: 10px;
}

.answer {
  font-size: small;
  font-weight: normal;
  padding: 10px;
}

h3 {
  font-size: large;
  padding-top: 10px;
  padding-bottom: 10px;
}

.contact {
  float: left;
  width: 570px;
}

.sitemap {
  float: right;
  max-width: 285px;
}

.sitemap1 {
  float: left;
  width: 142.5px;
}

.sitemap2 {
  float: right;
  width: 142.5px;
}

