body {
  background: #f9e933;
  font-family: 'Droid Sans', sans-serif;
  font-size: 100%;
}


header, main, footer {
  min-width: 855px;	
}

header .container, main .container, footer .container {
  max-width: 855px;
  margin: auto;

}  

h1, h2, h3, h4 {
  font-family: 'Ubuntu', sans-serif;
}

header {
  background: white;
  overflow: hidden;
}

h1 {
  float: left;
  width: 570px;
  font-size: xx-large;
}

header nav {
  float: right;
  width: 285px;
}

main {
  background: white;
  overflow: hidden;
}


.maintext {
  float: left;
  width: 570px;
}

h2 {
  font-size: x-large;
}

h3 {
  font-size: larger;
}

.lightbulb {
  float: right;
  width: 285px;
}

.contact {
  float: left;
  width: 570px;
}  

h4 {
  font-size: large;
}

.sitemap {
  float: right;
  max-width: 285px;
}

.sitemap1 {
  float: right;
  width: 142.5px;
}

.sitemap2 {
  float: right;
  width: 142.5px;
}



